[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "colorednoise"]
	path = colorednoise
	url = https://github.com/japilo/colorednoise
	shallow = true
	registered = true
